@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(37, 37, 80);
}

div#container{
    background-color: rgb(227, 224, 224);

    width: 350px;
    height: 450px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


    border-bottom-right-radius: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid blueviolet;


    display: flex;
    justify-content: space-around;
    padding: 20px;
}
#ialtura{
    height: 50px;
    width: 160px;
    border-radius: 10px;
    border: solid 1px blueviolet;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    text-align: center;
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.346);
    margin: 5px;
    
}
#ipesos{
    height: 50px;
    width: 160px;
    border-radius: 10px;
    border: solid 1px blueviolet;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    text-align: center;
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.346);
    margin: 5px;
    
}
strong{
    color: black;
    position: absolute;
    margin: 20px;
    top: 75px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serifs;
}
a{
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    font-family: Poppins,sans-serif;

    position: absolute;
    width: 160px;
    height: 50px;
    top: 30%;

    border-radius: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
    
a:hover{
background-color: rgb(77, 16, 134);
transition: 0.5s;
    
}
#resposta{
    
    background-color: blueviolet;
    color: white;


    position: absolute;
    margin: 10px;
    width: 330px;
    height: 210px;
    top: 45%;
    left: 0%;


    border-bottom-right-radius: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: solid 1px white;


    font-size: 20px;
    padding: 20px;
    text-align: left;
    font-family: Poppins,sans-serif;

    overflow-y: auto;
}
footer{
    text-align: center;
    color: rgba(245, 245, 245, 0.474);
}

